
footer {
    margin-top: auto;
}

#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('images/background.png') no-repeat center fixed;     
    background-size: cover;
}

.background {
    padding: 25px 25px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}