

#content {
  min-height:100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100vw;
  height: 100vh;
}

/* Style the active class, and buttons on mouse-over */
.btn:hover {
  background-color: #666;
  color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}